<div id="content_emojis">
    <input type="text" class="filter_emojis m-0" placeholder="Filtrar emojis">
    <h6 class="title_type_emojis pt-2">Smileys Symbols</h6>
    <div id="smileys_pan" class="facebook">
        <span id="1F600" class="j j1F600 A" title="Grinning Face Emoji"
            data-s="😀">😀</span>
        <span id="1F601" class="j j1F601 A" title="Beaming Face With Smiling Eyes Emoji"
            data-s="😁"> 😁</span>
        <span id="1F602" class="j j1F602 A" title="Face With Tears Of Joy Emoji"
            data-s="😂">😂</span>
        <span id="1F923" class="j j1F923 A" title="Rolling On The Floor Laughing Emoji"
            data-s="🤣">🤣</span>
        <span id="1F603" class="j j1F603 A" title="Grinning Face With Big Eyes Emoji"
            data-s="😃">😃</span>
        <span id="1F604" class="j j1F604 A"
            title="Grinning Face With Smiling Eyes Emoji" data-s="😄">😄</span>
        <span id="1F605" class="j j1F605 A" title="Grinning Face With Sweat Emoji"
            data-s="😅">😅</span>
        <span id="1F606" class="j j1F606 A" title="Grinning Squinting Face Emoji"
            data-s="😆">😆</span>
        <span id="1F609" class="j j1F609 A" title="Winking Face Emoji"
            data-s="😉">😉</span>
        <span id="1F60A" class="j j1F60A A" title="Smiling Face With Smiling Eyes Emoji"
            data-s="😊">😊</span>
        <span id="1F60B" class="j j1F60B A" title="Face Savoring Food Emoji"
            data-s="😋">😋</span>
        <span id="1F60E" class="j j1F60E A" title="Smiling Face With Sunglasses Emoji"
            data-s="😎">😎</span>
        <span id="1F60D" class="j j1F60D A" title="Smiling Face With Heart-eyes Emoji"
            data-s="😍">😍</span>
        <span id="1F618" class="j j1F618 A" title="Face Blowing A Kiss Emoji"
            data-s="😘">😘</span>
        <span id="1F617" class="j j1F617 A" title="Kissing Face Emoji"
            data-s="😗">😗</span>
        <span id="1F619" class="j j1F619 A" title="Kissing Face With Smiling Eyes Emoji"
            data-s="😙">😙</span>
        <span id="1F61A" class="j j1F61A A" title="Kissing Face With Closed Eyes Emoji"
            data-s="😚">😚</span>
        <span id="1F642" class="j j1F642 A" title="Slightly Smiling Face Emoji"
            data-s="🙂">🙂</span>
        <span id="1F917" class="j j1F917 A" title="Hugging Face Emoji" 
            data-s="🤗">🤗</span>
        <span id="1F929" class="j j1F929 A" title="Star-struck Emoji"
            data-s="🤩">🤩</span>
        <span id="1F914" class="j j1F914 A" title="Thinking Face Emoji"
            data-s="🤔">🤔</span>
        <span id="1F928" class="j j1F928 A" title="Face With Raised Eyebrow Emoji"
            data-s="🤨">🤨</span>
        <span id="1F610" class="j j1F610 A" title="Neutral Face Emoji"
            data-s="😐">😐</span>
        <span id="1F611" class="j j1F611 A" title="Expressionless Face Emoji"
            data-s="😑">😑</span>
        <span id="1F636" class="j j1F636 A" title="Face Without Mouth Emoji"
            data-s="😶">😶</span>
        <span id="1F644" class="j j1F644 A" title="Face With Rolling Eyes Emoji"
            data-s="🙄">🙄</span>
        <span id="1F60F" class="j j1F60F A" title="Smirking Face Emoji"
            data-s="😏">😏</span>
        <span id="1F623" class="j j1F623 A" title="Persevering Face Emoji"
            data-s="😣">😣</span>
        <span id="1F625" class="j j1F625 A" title="Sad But Relieved Face Emoji"
            data-s="😥">😥</span>
        <span id="1F62E" class="j j1F62E A" title="Face With Open Mouth Emoji"
            data-s="😮">😮</span>
        <span id="1F910" class="j j1F910 A" title="Zipper-mouth Face Emoji"
            data-s="🤐">🤐</span>
        <span id="1F62F" class="j j1F62F A" title="Hushed Face Emoji"
            data-s="😯">😯</span>
        <span id="1F62A" class="j j1F62A A" title="Sleepy Face Emoji"
            data-s="😪">😪</span>
        <span id="1F62B" class="j j1F62B A" title="Tired Face Emoji"
            data-s="😫">😫</span>
        <span id="1F634" class="j j1F634 A" title="Sleeping Face Emoji"
            data-s="😴">😴</span>
        <span id="1F60C" class="j j1F60C A" title="Relieved Face Emoji"
            data-s="😌">😌</span>
        <span id="1F61B" class="j j1F61B A" title="Face With Tongue Emoji"
            data-s="😛">😛</span>
        <span id="1F61C" class="j j1F61C A" title="Winking Face With Tongue Emoji"
            data-s="😜">😜</span>
        <span id="1F61D" class="j j1F61D A" title="Squinting Face With Tongue Emoji"
            data-s="😝">😝</span>
        <span id="1F924" class="j j1F924 A" title="Drooling Face Emoji"
            data-s="🤤">🤤</span>
        <span id="1F612" class="j j1F612 A" title="Unamused Face Emoji"
            data-s="😒">😒</span>
        <span id="1F613" class="j j1F613 A" title="Downcast Face With Sweat Emoji"
            data-s="😓">😓</span>
        <span id="1F614" class="j j1F614 A" title="Pensive Face Emoji"
            data-s="😔">😔</span>
        <span id="1F615" class="j j1F615 A" title="Confused Face Emoji"
            data-s="😕">😕</span>
        <span id="1F643" class="j j1F643 A" title="Upside-down Face Emoji"
            data-s="🙃">🙃</span>
        <span id="1F911" class="j j1F911 A" title="Money-mouth Face Emoji"
            data-s="🤑">🤑</span>
        <span id="1F632" class="j j1F632 A" title="Astonished Face Emoji"
            data-s="😲">😲</span>
        <span id="1F641" class="j j1F641 A" title="Slightly Frowning Face Emoji"
            data-s="🙁">🙁</span>
        <span id="1F616" class="j j1F616 A" title="Confounded Face Emoji"
            data-s="😖">😖</span>
        <span id="1F61E" class="j j1F61E A" title="Disappointed Face Emoji"
            data-s="😞">😞</span>
        <span id="1F61F" class="j j1F61F A" title="Worried Face Emoji"
            data-s="😟">😟</span>
        <span id="1F624" class="j j1F624 A" title="Face With Steam From Nose Emoji"
            data-s="😤">😤</span>
        <span id="1F622" class="j j1F622 A" title="Crying Face Emoji"
            data-s="😢">😢</span>
        <span id="1F62D" class="j j1F62D A" title="Loudly Crying Face Emoji"
            data-s="😭">😭</span>
        <span id="1F626" class="j j1F626 A" title="Frowning Face With Open Mouth Emoji"
            data-s="😦">😦</span>
        <span id="1F627" class="j j1F627 A" title="Anguished Face Emoji"
            data-s="😧">😧</span>
        <span id="1F628" class="j j1F628 A" title="Fearful Face Emoji"
            data-s="😨">😨</span>
        <span id="1F629" class="j j1F629 A" title="Weary Face Emoji"
            data-s="😩">😩</span>
        <span id="1F92F" class="j j1F92F A" title="Exploding Head Emoji"
            data-s="🤯">🤯</span>
        <span id="1F62C" class="j j1F62C A" title="Grimacing Face Emoji"
            data-s="😬">😬</span>
        <span id="1F630" class="j j1F630 A" title="Anxious Face With Sweat Emoji"
            data-s="😰">😰</span>
        <span id="1F631" class="j j1F631 A" title="Face Screaming In Fear Emoji"
            data-s="😱">😱</span>
        <span id="1F633" class="j j1F633 A" title="Flushed Face Emoji"
            data-s="😳">😳</span>
        <span id="1F92A" class="j j1F92A A" title="Crazy Face Emoji" 
            data-s="🤪">🤪</span>
        <span id="1F635" class="j j1F635 A" title="Dizzy Face Emoji"
            data-s="😵">😵</span>
        <span id="1F621" class="j j1F621 A" title="Pouting Face Emoji"
            data-s="😡">😡</span>
        <span id="1F620" class="j j1F620 A" title="Angry Face Emoji"
            data-s="😠">😠</span>
        <span id="1F92C" class="j j1F92C A" title="Face With Symbols On Mouth Emoji"
            data-s="🤬">🤬</span>
        <span id="1F637" class="j j1F637 A" title="Face With Medical Mask Emoji"
            data-s="😷">😷</span>
        <span id="1F912" class="j j1F912 A" title="Face With Thermometer Emoji"
            data-s="🤒">🤒</span>
        <span id="1F915" class="j j1F915 A" title="Face With Head-bandage Emoji"
            data-s="🤕">🤕</span>
        <span id="1F922" class="j j1F922 A" title="Nauseated Face Emoji"
            data-s="🤢">🤢</span>
        <span id="1F92E" class="j j1F92E A" title="Face Vomiting Emoji"
            data-s="🤮">🤮</span>
        <span id="1F927" class="j j1F927 A" title="Sneezing Face Emoji"
            data-s="🤧">🤧</span>
        <span id="1F607" class="j j1F607 A" title="Smiling Face With Halo Emoji"
            data-s="😇">😇</span>
        <span id="1F920" class="j j1F920 A" title="Cowboy Hat Face Emoji"
            data-s="🤠">🤠</span>
        <span id="1F921" class="j j1F921 A" title="Clown Face Emoji"
            data-s="🤡">🤡</span>
        <span id="1F925" class="j j1F925 A" title="Lying Face Emoji"
            data-s="🤥">🤥</span>
        <span id="1F92B" class="j j1F92B A" title="Shushing Face Emoji"
            data-s="🤫">🤫</span>
        <span id="1F92D" class="j j1F92D A" title="Face With Hand Over Mouth Emoji"
            data-s="🤭">🤭</span>
        <span id="1F9D0" class="j j1F9D0 A" title="Face With Monocle Emoji"
            data-s="🧐">🧐</span>
        <span id="1F913" class="j j1F913 A" title="Nerd Face Emoji"
            data-s="🤓">🤓</span>
        <span id="1F608" class="j j1F608 A" title="Smiling Face With Horns Emoji"
            data-s="😈">😈</span>
        <span id="1F47F" class="j j1F47F A" title="Angry Face With Horns Emoji"
            data-s="👿">👿</span>
        <span id="1F479" class="j j1F479 A" title="Ogre Emoji" data-s="👹">👹</span>
        <span id="1F47A" class="j j1F47A A" title="Goblin Emoji" data-s="👺">👺</span>
        <span id="1F480" class="j j1F480 A" title="Skull Emoji" data-s="💀">💀</span>
        <span id="2620" class="j j2620 A" title="Skull And Crossbones Emoji"
            data-s="☠">☠</span>
        <span id="1F47B" class="j j1F47B A" title="Ghost Emoji" data-s="👻">👻</span>
        <span id="1F47D" class="j j1F47D A" title="Alien Emoji" data-s="👽">👽</span>
        <span id="1F47E" class="j j1F47E A" title="Alien Monster Emoji"
            data-s="👾">👾</span>
        <span id="1F916" class="j j1F916 A" title="Robot Face Emoji"
            data-s="🤖">🤖</span>
        <span id="1F4A9" class="j j1F4A9 A" title="Pile Of Poo Emoji"
            data-s="💩">💩</span>
        <span id="1F63A" class="j j1F63A A" title="Grinning Cat Face Emoji"
            data-s="😺">😺</span>
        <span id="1F638" class="j j1F638 A"
            title="Grinning Cat Face With Smiling Eyes Emoji" data-s="😸">😸</span>
        <span id="1F639" class="j j1F639 A" title="Cat Face With Tears Of Joy Emoji"
            data-s="😹">😹</span>
        <span id="1F63B" class="j j1F63B A"
            title="Smiling Cat Face With Heart-eyes Emoji" data-s="😻">😻</span>
        <span id="1F63C" class="j j1F63C A" title="Cat Face With Wry Smile Emoji"
            data-s="😼">😼</span>
        <span id="1F63D" class="j j1F63D A" title="Kissing Cat Face Emoji"
            data-s="😽">😽</span>
        <span id="1F640" class="j j1F640 A" title="Weary Cat Face Emoji"
            data-s="🙀">🙀</span>
        <span id="1F63F" class="j j1F63F A" title="Crying Cat Face Emoji"
            data-s="😿">😿</span>
        <span id="1F63E" class="j j1F63E A" title="Pouting Cat Face Emoji"
            data-s="😾">😾</span>
        <span id="1F648" class="j j1F648 A" title="See-no-evil Monkey Emoji"
            data-s="🙈">🙈</span>
        <span id="1F649" class="j j1F649 A" title="Hear-no-evil Monkey Emoji"
            data-s="🙉">🙉</span>
        <span id="1F64A" class="j j1F64A A" title="Speak-no-evil Monkey Emoji"
            data-s="🙊">🙊</span>
        <span id="1F9DE" class="j j1F9DE A" title="Genie Emoji" data-s="🧞">🧞</span>
        <span id="1F9DE_200D_2640_FE0F" class="j j1F9DE_200D_2640_FE0F A"
            title="Woman Genie Emoji" data-s="🧞‍♀️">🧞‍♀️</span>
        <span id="1F9DE_200D_2642_FE0F" class="j j1F9DE_200D_2642_FE0F A"
            title="Man Genie Emoji" data-s="🧞‍♂️">🧞‍♂️</span>
        <span id="1F9DF" class="j j1F9DF A" title="Zombie Emoji" data-s="🧟">🧟</span>
        <span id="1F9DF_200D_2640_FE0F" class="j j1F9DF_200D_2640_FE0F A"
            title="Woman Zombie Emoji" data-s="🧟‍♀️">🧟‍♀️</span>
        <span id="1F9DF_200D_2642_FE0F" class="j j1F9DF_200D_2642_FE0F A"
            title="Man Zombie Emoji" data-s="🧟‍♂️">🧟‍♂️</span>
        <span id="1F46F" class="j j1F46F A" title="People With Bunny Ears Emoji"
            data-s="👯">👯</span>
        <span id="1F46F_200D_2642_FE0F" class="j j1F46F_200D_2642_FE0F A"
            title="Men With Bunny Ears Emoji" data-s="👯‍♂️">👯‍♂️</span>
        <span id="1F46F_200D_2640_FE0F" class="j j1F46F_200D_2640_FE0F A"
            title="Women With Bunny Ears Emoji" data-s="👯‍♀️">👯‍♀️</span>
        <span id="1F5E3" class="j j1F5E3 A" title="Speaking Head Emoji"
            data-s="🗣">🗣</span>
        <span id="1F464" class="j j1F464 A" title="Bust In Silhouette Emoji"
            data-s="👤">👤</span>
        <span id="1F465" class="j j1F465 A" title="Busts In Silhouette Emoji"
            data-s="👥">👥</span>
        <span id="1F93A" class="j j1F93A A" title="Person Fencing Emoji"
            data-s="🤺">🤺</span>
        <span id="26F7" class="j j26F7 A" title="Skier Emoji" data-s="⛷">⛷</span>
        <span id="1F3CE" class="j j1F3CE A" title="Racing Car Emoji"
            data-s="🏎">🏎</span>
        <span id="1F3CD" class="j j1F3CD A" title="Motorcycle Emoji"
            data-s="🏍">🏍</span>
        <span id="1F93C" class="j j1F93C A" title="People Wrestling Emoji"
            data-s="🤼">🤼</span>
        <span id="1F93C_200D_2642_FE0F" class="j j1F93C_200D_2642_FE0F A"
            title="Men Wrestling Emoji" data-s="🤼‍♂️">🤼‍♂️</span>
        <span id="1F93C_200D_2640_FE0F" class="j j1F93C_200D_2640_FE0F A"
            title="Women Wrestling Emoji" data-s="🤼‍♀️">🤼‍♀️</span>
        <span id="1F46B" class="j j1F46B A" title="Man And Woman Holding Hands Emoji"
            data-s="👫">👫</span>
        <span id="1F46C" class="j j1F46C A" title="Two Men Holding Hands Emoji"
            data-s="👬">👬</span>
        <span id="1F46D" class="j j1F46D A" title="Two Women Holding Hands Emoji"
            data-s="👭">👭</span>
        <span id="1F48F" class="j j1F48F A" title="Kiss Emoji" data-s="💏">💏</span>
        <span id="1F469_200D_2764_FE0F_200D_1F48B_200D_1F468"
            class="j j1F469_200D_2764_FE0F_200D_1F48B_200D_1F468 A"
            title="Kiss: Woman Emoji" data-s="👩‍❤️‍💋‍👨">👩‍❤️‍💋‍👨</span>
        <span id="1F468_200D_2764_FE0F_200D_1F48B_200D_1F468"
            class="j j1F468_200D_2764_FE0F_200D_1F48B_200D_1F468 A"
            title="Kiss: Man Emoji" data-s="👨‍❤️‍💋‍👨">👨‍❤️‍💋‍👨</span>
        <span id="1F469_200D_2764_FE0F_200D_1F48B_200D_1F469"
            class="j j1F469_200D_2764_FE0F_200D_1F48B_200D_1F469 A"
            title="Kiss: Woman Emoji" data-s="👩‍❤️‍💋‍👩">👩‍❤️‍💋‍👩</span>
        <span id="1F491" class="j j1F491 A" title="Couple With Heart Emoji"
            data-s="💑">💑</span>
        <span id="1F469_200D_2764_FE0F_200D_1F468"
            class="j j1F469_200D_2764_FE0F_200D_1F468 A"
            title="Couple With Heart: Woman Emoji" data-s="👩‍❤️‍👨">👩‍❤️‍👨</span>
        <span id="1F468_200D_2764_FE0F_200D_1F468"
            class="j j1F468_200D_2764_FE0F_200D_1F468 A"
            title="Couple With Heart: Man Emoji" data-s="👨‍❤️‍👨">👨‍❤️‍👨</span>
        <span id="1F469_200D_2764_FE0F_200D_1F469"
            class="j j1F469_200D_2764_FE0F_200D_1F469 A"
            title="Couple With Heart: Woman Emoji" data-s="👩‍❤️‍👩">👩‍❤️‍👩</span>
        <span id="1F46A" class="j j1F46A A" title="Family Emoji" data-s="👪">👪</span>
        <span id="1F468_200D_1F469_200D_1F466" class="j j1F468_200D_1F469_200D_1F466 A"
            title="Family: Man Emoji" data-s="👨‍👩‍👦">👨‍👩‍👦</span>
        <span id="1F468_200D_1F469_200D_1F467" class="j j1F468_200D_1F469_200D_1F467 A"
            title="Family: Man Emoji" data-s="👨‍👩‍👧">👨‍👩‍👧</span>
        <span id="1F468_200D_1F469_200D_1F467_200D_1F466"
            class="j j1F468_200D_1F469_200D_1F467_200D_1F466 A"
            title="Family: Man Emoji" data-s="👨‍👩‍👧‍👦">👨‍👩‍👧‍👦</span>
        <span id="1F468_200D_1F469_200D_1F466_200D_1F466"
            class="j j1F468_200D_1F469_200D_1F466_200D_1F466 A"
            title="Family: Man Emoji" data-s="👨‍👩‍👦‍👦">👨‍👩‍👦‍👦</span>
        <span id="1F468_200D_1F469_200D_1F467_200D_1F467"
            class="j j1F468_200D_1F469_200D_1F467_200D_1F467 A"
            title="Family: Man Emoji" data-s="👨‍👩‍👧‍👧">👨‍👩‍👧‍👧</span>
        <span id="1F468_200D_1F468_200D_1F466" class="j j1F468_200D_1F468_200D_1F466 A"
            title="Family: Man Emoji" data-s="👨‍👨‍👦">👨‍👨‍👦</span>
        <span id="1F468_200D_1F468_200D_1F467" class="j j1F468_200D_1F468_200D_1F467 A"
            title="Family: Man Emoji" data-s="👨‍👨‍👧">👨‍👨‍👧</span>
        <span id="1F468_200D_1F468_200D_1F467_200D_1F466"
            class="j j1F468_200D_1F468_200D_1F467_200D_1F466 A"
            title="Family: Man Emoji" data-s="👨‍👨‍👧‍👦">👨‍👨‍👧‍👦</span>
        <span id="1F468_200D_1F468_200D_1F466_200D_1F466"
            class="j j1F468_200D_1F468_200D_1F466_200D_1F466 A"
            title="Family: Man Emoji" data-s="👨‍👨‍👦‍👦">👨‍👨‍👦‍👦</span>
        <span id="1F468_200D_1F468_200D_1F467_200D_1F467"
            class="j j1F468_200D_1F468_200D_1F467_200D_1F467 A"
            title="Family: Man Emoji" data-s="👨‍👨‍👧‍👧">👨‍👨‍👧‍👧</span>
        <span id="1F469_200D_1F469_200D_1F466" class="j j1F469_200D_1F469_200D_1F466 A"
            title="Family: Woman Emoji" data-s="👩‍👩‍👦">👩‍👩‍👦</span>
        <span id="1F469_200D_1F469_200D_1F467" class="j j1F469_200D_1F469_200D_1F467 A"
            title="Family: Woman Emoji" data-s="👩‍👩‍👧">👩‍👩‍👧</span>
        <span id="1F469_200D_1F469_200D_1F467_200D_1F466"
            class="j j1F469_200D_1F469_200D_1F467_200D_1F466 A"
            title="Family: Woman Emoji" data-s="👩‍👩‍👧‍👦">👩‍👩‍👧‍👦</span>
        <span id="1F469_200D_1F469_200D_1F466_200D_1F466"
            class="j j1F469_200D_1F469_200D_1F466_200D_1F466 A"
            title="Family: Woman Emoji" data-s="👩‍👩‍👦‍👦">👩‍👩‍👦‍👦</span>
        <span id="1F469_200D_1F469_200D_1F467_200D_1F467"
            class="j j1F469_200D_1F469_200D_1F467_200D_1F467 A"
            title="Family: Woman Emoji" data-s="👩‍👩‍👧‍👧">👩‍👩‍👧‍👧</span>
        <span id="1F468_200D_1F466" class="j j1F468_200D_1F466 A"
            title="Family: Man Emoji" data-s="👨‍👦">👨‍👦</span>
        <span id="1F468_200D_1F466_200D_1F466" class="j j1F468_200D_1F466_200D_1F466 A"
            title="Family: Man Emoji" data-s="👨‍👦‍👦">👨‍👦‍👦</span>
        <span id="1F468_200D_1F467" class="j j1F468_200D_1F467 A"
            title="Family: Man Emoji" data-s="👨‍👧">👨‍👧</span>
        <span id="1F468_200D_1F467_200D_1F466" class="j j1F468_200D_1F467_200D_1F466 A"
            title="Family: Man Emoji" data-s="👨‍👧‍👦">👨‍👧‍👦</span>
        <span id="1F468_200D_1F467_200D_1F467" class="j j1F468_200D_1F467_200D_1F467 A"
            title="Family: Man Emoji" data-s="👨‍👧‍👧">👨‍👧‍👧</span>
        <span id="1F469_200D_1F466" class="j j1F469_200D_1F466 A"
            title="Family: Woman Emoji" data-s="👩‍👦">👩‍👦</span>
        <span id="1F469_200D_1F466_200D_1F466" class="j j1F469_200D_1F466_200D_1F466 A"
            title="Family: Woman Emoji" data-s="👩‍👦‍👦">👩‍👦‍👦</span>
        <span id="1F469_200D_1F467" class="j j1F469_200D_1F467 A"
            title="Family: Woman Emoji" data-s="👩‍👧">👩‍👧</span>
        <span id="1F469_200D_1F467_200D_1F466" class="j j1F469_200D_1F467_200D_1F466 A"
            title="Family: Woman Emoji" data-s="👩‍👧‍👦">👩‍👧‍👦</span>
        <span id="1F469_200D_1F467_200D_1F467" class="j j1F469_200D_1F467_200D_1F467 A"
            title="Family: Woman Emoji" data-s="👩‍👧‍👧">👩‍👧‍👧</span>
        <span id="1F91D" class="j j1F91D A" title="Handshake Emoji"
            data-s="🤝">🤝</span>
        <span id="1F463" class="j j1F463 A" title="Footprints Emoji"
            data-s="👣">👣</span>
        <span id="1F440" class="j j1F440 A" title="Eyes Emoji" data-s="👀">👀</span>
        <span id="1F441" class="j j1F441 A" title="Eye Emoji" data-s="👁">👁</span>
        <span id="1F441_FE0F_200D_1F5E8_FE0F" class="j j1F441_FE0F_200D_1F5E8_FE0F A"
            title="Eye In Speech Bubble Emoji" data-s="👁️‍🗨️">👁️‍🗨️</span>
        <span id="1F9E0" class="j j1F9E0 A" title="Brain Emoji" data-s="🧠">🧠</span>
        <span id="1F445" class="j j1F445 A" title="Tongue Emoji" data-s="👅">👅</span>
        <span id="1F444" class="j j1F444 A" title="Mouth Emoji" data-s="👄">👄</span>
        <span id="1F48B" class="j j1F48B A" title="Kiss Mark Emoji"
            data-s="💋">💋</span>
        <span id="1F498" class="j j1F498 A" title="Heart With Arrow Emoji"
            data-s="💘">💘</span>
        <span id="2764" class="j j2764 A" title="Red Heart Emoji" data-s="❤">❤</span>
        <span id="1F493" class="j j1F493 A" title="Beating Heart Emoji"
            data-s="💓">💓</span>
        <span id="1F494" class="j j1F494 A" title="Broken Heart Emoji"
            data-s="💔">💔</span>
        <span id="1F495" class="j j1F495 A" title="Two Hearts Emoji"
            data-s="💕">💕</span>
        <span id="1F496" class="j j1F496 A" title="Sparkling Heart Emoji"
            data-s="💖">💖</span>
        <span id="1F497" class="j j1F497 A" title="Growing Heart Emoji"
            data-s="💗">💗</span>
        <span id="1F499" class="j j1F499 A" title="Blue Heart Emoji"
            data-s="💙">💙</span>
        <span id="1F49A" class="j j1F49A A" title="Green Heart Emoji"
            data-s="💚">💚</span>
        <span id="1F49B" class="j j1F49B A" title="Yellow Heart Emoji"
            data-s="💛">💛</span>
        <span id="1F9E1" class="j j1F9E1 A" title="Orange Heart Emoji"
            data-s="🧡">🧡</span>
        <span id="1F49C" class="j j1F49C A" title="Purple Heart Emoji"
            data-s="💜">💜</span>
        <span id="1F5A4" class="j j1F5A4 A" title="Black Heart Emoji"
            data-s="🖤">🖤</span>
        <span id="1F49D" class="j j1F49D A" title="Heart With Ribbon Emoji"
            data-s="💝">💝</span>
        <span id="1F49E" class="j j1F49E A" title="Revolving Hearts Emoji"
            data-s="💞">💞</span>
        <span id="1F49F" class="j j1F49F A" title="Heart Decoration Emoji"
            data-s="💟">💟</span>
        <span id="2763" class="j j2763 A" title="Heavy Heart Exclamation Emoji"
            data-s="❣">❣</span>
        <span id="1F48C" class="j j1F48C A" title="Love Letter Emoji"
            data-s="💌">💌</span>
        <span id="1F4A4" class="j j1F4A4 A" title="Zzz Emoji" data-s="💤">💤</span>
        <span id="1F4A2" class="j j1F4A2 A" title="Anger Symbol Emoji"
            data-s="💢">💢</span>
        <span id="1F4A3" class="j j1F4A3 A" title="Bomb Emoji" data-s="💣">💣</span>
        <span id="1F4A5" class="j j1F4A5 A" title="Collision Emoji"
            data-s="💥">💥</span>
        <span id="1F4A6" class="j j1F4A6 A" title="Sweat Droplets Emoji"
            data-s="💦">💦</span>
        <span id="1F4A8" class="j j1F4A8 A" title="Dashing Away Emoji"
            data-s="💨">💨</span>
        <span id="1F4AB" class="j j1F4AB A" title="Dizzy Emoji" data-s="💫">💫</span>
        <span id="1F4AC" class="j j1F4AC A" title="Speech Balloon Emoji"
            data-s="💬">💬</span>
        <span id="1F5E8" class="j j1F5E8 A" title="Left Speech Bubble Emoji"
            data-s="🗨">🗨</span>
        <span id="1F5EF" class="j j1F5EF A" title="Right Anger Bubble Emoji"
            data-s="🗯">🗯</span>
        <span id="1F4AD" class="j j1F4AD A" title="Thought Balloon Emoji"
            data-s="💭">💭</span>
        <span id="1F573" class="j j1F573 A" title="Hole Emoji" data-s="🕳">🕳</span>
        <span id="1F453" class="j j1F453 A" title="Glasses Emoji" data-s="👓">👓</span>
        <span id="1F576" class="j j1F576 A" title="Sunglasses Emoji"
            data-s="🕶">🕶</span>
        <span id="1F454" class="j j1F454 A" title="Necktie Emoji" data-s="👔">👔</span>
        <span id="1F455" class="j j1F455 A" title="T-shirt Emoji" data-s="👕">👕</span>
        <span id="1F456" class="j j1F456 A" title="Jeans Emoji" data-s="👖">👖</span>
        <span id="1F9E3" class="j j1F9E3 A" title="Scarf Emoji" data-s="🧣">🧣</span>
        <span id="1F9E4" class="j j1F9E4 A" title="Gloves Emoji" data-s="🧤">🧤</span>
        <span id="1F9E5" class="j j1F9E5 A" title="Coat Emoji" data-s="🧥">🧥</span>
        <span id="1F9E6" class="j j1F9E6 A" title="Socks Emoji" data-s="🧦">🧦</span>
        <span id="1F457" class="j j1F457 A" title="Dress Emoji" data-s="👗">👗</span>
        <span id="1F458" class="j j1F458 A" title="Kimono Emoji" data-s="👘">👘</span>
        <span id="1F459" class="j j1F459 A" title="Bikini Emoji" data-s="👙">👙</span>
        <span id="1F45A" class="j j1F45A A" title="Woman’s Clothes Emoji"
            data-s="👚">👚</span>
        <span id="1F45B" class="j j1F45B A" title="Purse Emoji" data-s="👛">👛</span>
        <span id="1F45C" class="j j1F45C A" title="Handbag Emoji" data-s="👜">👜</span>
        <span id="1F45D" class="j j1F45D A" title="Clutch Bag Emoji"
            data-s="👝">👝</span>
        <span id="1F6CD" class="j j1F6CD A" title="Shopping Bags Emoji"
            data-s="🛍">🛍</span>
        <span id="1F392" class="j j1F392 A" title="School Backpack Emoji"
            data-s="🎒">🎒</span>
        <span id="1F45E" class="j j1F45E A" title="Man’s Shoe Emoji"
            data-s="👞">👞</span>
        <span id="1F45F" class="j j1F45F A" title="Running Shoe Emoji"
            data-s="👟">👟</span>
        <span id="1F460" class="j j1F460 A" title="High-heeled Shoe Emoji"
            data-s="👠">👠</span>
        <span id="1F461" class="j j1F461 A" title="Woman’s Sandal Emoji"
            data-s="👡">👡</span>
        <span id="1F462" class="j j1F462 A" title="Woman’s Boot Emoji"
            data-s="👢">👢</span>
        <span id="1F451" class="j j1F451 A" title="Crown Emoji" data-s="👑">👑</span>
        <span id="1F452" class="j j1F452 A" title="Woman’s Hat Emoji"
            data-s="👒">👒</span>
        <span id="1F3A9" class="j j1F3A9 A" title="Top Hat Emoji" data-s="🎩">🎩</span>
        <span id="1F393" class="j j1F393 A" title="Graduation Cap Emoji"
            data-s="🎓">🎓</span>
        <span id="1F9E2" class="j j1F9E2 A" title="Billed Cap Emoji"
            data-s="🧢">🧢</span>
        <span id="26D1" class="j j26D1 A" title="Rescue Worker’s Helmet Emoji"
            data-s="⛑">⛑</span>
        <span id="1F4FF" class="j j1F4FF A" title="Prayer Beads Emoji"
            data-s="📿">📿</span>
        <span id="1F484" class="j j1F484 A" title="Lipstick Emoji" data-s="💄">💄</span>
        <span id="1F48D" class="j j1F48D A" title="Ring Emoji" data-s="💍">💍</span>
        <span id="1F48E" class="j j1F48E A" title="Gem Stone Emoji"
            data-s="💎">💎</span>
    </div>
</div>